body {
  margin: 0 auto;
  margin-top: 45px;
  font-family: 'Montserrat', sans-serif;
  min-width: 375px;
  max-width: 1440px;
}
  
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: column;
  width: 90%;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 50px;
  img{
    width: 210px;
    height: 68px;
    margin-right: 43px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    a{
      text-decoration: none;
      color: black;
    }
    p{
      font-weight: 500;
      font-size: 24px;
    }
  }
}

// Composant Collapse

.collapse{
  display: flex;
  flex-direction: column;
  width: 70%;
  .summary{
    display: flex;
    width: 100%;
    background: #FF6060;
    align-items: center;
    height: 52px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    border-radius: 5px;
    justify-content: space-between;
    .text{
      position: relative;
      left: 10px;
    }
    .chevron{
      position: relative;
      width: 32px;
      height: 32px;
      filter: invert(100%);
      cursor: pointer;
      right: 10px;
      transition: transform 0.5s ease;
    }
  }
  p{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    background: #f6f6f6;
    max-height: 0px;
    animation: collapseAnimation 3s ease forwards;
    overflow: hidden;
    white-space: pre-line;
  }
}

.open .chevron{
  transform: rotate(-180deg);
}

@keyframes collapseAnimation {
  to {
    max-height: 999px;
  }
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  background: black;
  img{
    width: 122px;
    height: 40px;
  }
  p{
    color: white;
    font-weight: 500;
    font-size: 24px;
  }
}

@media(max-width : 768px){
  header{
      img{
        width: 145px;
        height: 47px;
      }
      .navbar p{
        font-size: 12px;
      }
  }

  footer{
      p{
        display: flex;
        text-align: center;
        width: 26%;
        font-size: 12px;
        margin: 0;
        padding: 10px;
      }
  }
}